<h2>Admin Dashboard</h2>
<a href="/admin/add">Add Book</a>

<% books.forEach(book => { %>
    <div>
        <h3><%= book.title %></h3>
        <a href="/admin/edit/<%= book._id %>">Edit</a>
        <a href="/admin/delete/<%= book._id %>">Delete</a>
    </div>
<% }) %>