<!DOCTYPE html>
<html>

<head>
    <title>Movie Store</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="container" style="margin: 0 auto; width: 90%; max-width: 1200px;">
            <div class="nav-flex">
                <div class="logo"><a href="/" style="color:black; text-decoration:none;">MovieStore</a></div>
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/admin">Admin</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <%- body %>
    </div>

    <div class="footer">
        © 2026 MovieStore | All Rights Reserved
    </div>

</body>

</html>
